.button-burger {
  position: relative;
  display: flex;
  height: 26px;
  width: 26px;
  background: transparent;
  align-items: center;
  flex-flow: wrap;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $accent-color;
    left: 0;
    top: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $accent-color;
    left: 0;
    bottom: 5px;
  }

  @media (min-width: $tablet-width) {
    margin: 8px 0;
    width: 226px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button-burger__contents {
  position: absolute;
  height: 2px;
  width: 16px;
  transform: translateY(50% -50%);
  left: 0;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.4, 1);
  background-color: $accent-color;
}

.button-burger--is-open {
  &::before {
    transform: rotateY(-45deg);
  }

  &::after {
    transform: rotateY(45deg);
  }
}

.button-burger--is-closed {
  &::before {
    transform: rotateY(-45deg);
  }

  &::after {
    transform: rotateY(45deg);
  }
}

.button-burger--is-open .button-burger__contents {
  transform: scaleX(0);
  transform-origin: right;
}

.button-burger--is-closed .button-burger__contents {
  transform: scaleX(1);
  transform-origin: right;
}
